@import '../../sass/colors'
@import '../../sass/variables'

.questionBox-container
    width: 80%
    max-width: 600px
    margin: 2rem auto 0 auto
    border: 2px solid $space-blue
    border-radius: $radius
    padding: 20px
    display: flex
    flex-direction: column
    text-align: center
    text-decoration: none
    color: $space-blue

    span
        font-weight: bold
        color: #ffa600

    p
        margin-top: 1rem
       




