@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import './colors.sass'

*
  margin: 0

body
  margin: 0
  font-family: 'Rock Salt', cursive
  color: $space-blue


code 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace

