@import '../../sass/colors'

.navbar
    display: flex
    flex-direction: row
    width: 100%
    border-bottom: 3px solid $space-blue
    justify-content: space-between
    align-items: baseline
    padding: 10px 0

    .nav-userInfo
        align-self: flex-start
        margin-left: 1.5rem
        display: flex
        flex-direction: row
        align-items: baseline


        .nav-avatar
            width: 30px

    .nav-links
        align-self: center

    .logout-button
        align-self: flex-end
        margin-right: 1.5rem
        background-color: $coral-red
        color: #fff
        text-decoration: none
        padding: 0 10px
        border-radius: 17px


    .link-item
        margin-right: 1.5rem
        color: $space-blue
        text-decoration: none